body{
background: linear-gradient(to right, #F080A1 0%, #FFFFFF 50%, #C39BD3 100%);
    color:#212121 !important;
    padding:10px !important;
}
 button{
  background-color: purple !important;
  color:white !important;
  border:3px solid pink !important;
  border-radius: 10px !important;

}
.Form{
    max-width:fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}