body{
background-color:white !important;
}

.hero-section {
 background: linear-gradient(to right, #9370DB 0%, #FFFFFF 50%, #E75480 100%);
  text-align: center;
  height:auto;
  width:100%;
  padding-bottom: 20px;
}

.hero-section h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: purple;
  padding-top: 20px;
}
.hero-section h3{
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: purple;
}

.social-icons a {
  color: purple;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0073b1; 
}
 
.skills-section {
background: linear-gradient(to right, #F080A1 0%, #FFFFFF 50%, #C39BD3 100%);
  height:auto;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

}
.skills-section div {
  height:60px;
  width:120px;
  padding: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: purple;
  border:2px solid black;
  border-radius: 10px;
  background-color: #f0f0f0;
  text-align: center;

}
.skills-section h2{
  width: 100%;
  text-align: center;
  font-size: 2.0 rem;
  font-weight: 600;
  color: purple;
  margin-bottom: 10px;
}
.skills-section div:hover{
  background-color: aqua;
color:white;
}

.education-section {
 background: linear-gradient(to right, #9370DB 0%, #FFFFFF 50%, #E75480 100%);
height:auto;
width: 100%;
}
.education-cards {
 background: linear-gradient(to right, #9370DB 0%, #FFFFFF 50%, #E75480 100%);
height:auto;
width: 100%;
display:flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;

}

.education-section h2 {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  color: purple;
  padding-bottom: 40px;
}

.education-card{
  background-color: white;
  height:450px;
  width: 450px;
  border:0.5px solid purple;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  margin-top:20px;
  margin-bottom: 30px;
}
.education-card h4 {
  text-align:left;
  font-size: 1.5rem;
  font-weight: 500;
  color: purple;
  margin-bottom: 5px;
  padding:10px;
}
.education-card p {
  text-align:left;
  font-size: 1.0rem;
  font-weight: 500;
  color: purple;
  margin-bottom: 10px;
  padding:10px;
}
.education-card button{
  text-align:left !important;
  background-color: purple;
  color:white !important;
  border:3px solid pink;
  border-radius: 10px;
  margin-left:20px;
}


.project-section {
background: linear-gradient(to right, #F080A1 0%, #FFFFFF 50%, #C39BD3 100%);
height:auto;
width: 100%;
}

.project_cards {
background: linear-gradient(to right, #F080A1 0%, #FFFFFF 50%, #C39BD3 100%);
height:auto;
width: 100%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}

.project-section h2 {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  color: purple;
  padding-bottom: 40px;
}

.project_card{
  background-color: white;
  height:450px;
  width: 450px;
  border:0.5px solid purple;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  margin-top:20px;
}
.project_card h4 {
  text-align:left;
  font-size: 1.5rem;
  font-weight: 500;
  color: purple;
  margin-bottom: 5px;
  padding:10px;
}
.project_card p {
  text-align:left;
  font-size: 1.0rem;
  font-weight: 500;
  color: purple;
  margin-bottom: 10px;
  padding:10px;
}
.project_card button{
  text-align:left !important;
  background-color: purple;
  color:white !important;
  border:2px solid pink;
  border-radius: 10px;
  margin-left:20px;
}
.project_card a {
  color: blue;
  font-weight: bold;
  padding: 10px;
}